.shopItem {
    margin: 1rem;
    background: #f5f5f5;
    width: 95%;
    min-height: 150px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    vertical-align: center;
}

.shopItemElem{
    display: inline-block;
    margin-right: 30px;
}
table{
    border-collapse:separate; 
    border-spacing: 0 1em;
    width: 99%;
}
tr{
    background: #f5f5f5;
}


td img {
    max-width: 200px;
    max-height: 150px;
}