.shopCard {
    margin: 1rem;
    float: left;
    background: #f5f5f5;
    width: 300px;
    min-height: 300px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.shopCard img {
    max-width: 300px;
    max-height: 200px;
}
